doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Ryan Munger | #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Slab" rel="stylesheet")
    script(src="https://use.fontawesome.com/38ab6e7743.js")
  body
    header
      .tint-overlay
        .wrap
          a(href="/")
            .logo
          p 
            | I am a Front-End Developer who specializes in HTML, CSS and JavaScript. 
            | I have 6 over years of experience designing and building web applications.
        a.right#nav-toggle(href="#")
          i.fa.fa-chevron-down
      .wrap
        ul.mobile-hidden#nav
          li
            a(href="/" class=title === 'Resume' ? 'active' : undefined) Resume
          li
            a(href="/portfolio" class=title === 'Portfolio' ? 'active' : undefined) Portfolio
    .hero-photo
    block content
    hr.desktop-hidden
    footer
      .wrap
        a.hire-me(href="mailto:ryanmunger@gmail.com") Hire Me
          i.fa.fa-envelope-open-o(aria-hidden="true")
        ul.social-links
          li
            a(href="http://github.com/ryanmunger")
              i.fa.fa-github(aria-hidden="true")
          li
            a(href="http://www.linkedin.com/pub/ryan-munger/32/681/408")
              i.fa.fa-linkedin(aria-hidden="true")
          li
            a(href="http://twitter.com/roothewhirl")
              i.fa.fa-twitter(aria-hidden="true")
          li
            a(href="https://soundcloud.com/ryanmunger")
              i.fa.fa-soundcloud(aria-hidden="true")
  script(src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")
  script(src="/javascripts/scripts.js")
